/* h1 {
    text-align:center;
    font-size: xx-large;
}

.blurb {
    text-align: center;
    padding-bottom: 20px;
} */

body {
    /* background-color: #FFF7DF; */
    background-image: url('tetris2.svg');
}