

.dropdown {
position: relative;
color: #333;
cursor: default;
margin: 5px;
padding: 5px;
}

.dropdown .arrow {
border-color: #999 transparent transparent;
border-style: solid;
border-width: 5px 5px 0;
content: " ";
display: block;
height: 0;
margin-top: 0.7rem;
position: absolute;
right: 2px;
top: 14px;
width: 0;
}

.dropdown .arrow.open {
border-color: transparent transparent #999;
border-width: 0 5px 5px;
}

.dropdown .selected-value input {
line-height: 1;
font-size: 1.2rem;
background-color: #fff;
border: 1px solid #ccc;
border-radius: 20px;
box-sizing: border-box;
cursor: default;
outline: none;
padding: 20px 52px 20px 20px;
transition: all 200ms ease;
width: 100%;
}

.dropdown .options {
display: none;
background-color: #fff;
border: 1px solid #ccc;
box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
box-sizing: border-box;
margin-top: -1px;
max-height: 200px;
overflow-y: auto;
position: absolute;
top: 100%;
width: 100%;
z-index: 1000;
-webkit-overflow-scrolling: touch;
}

.dropdown .options.open {
display: block;
}

.dropdown .option {
box-sizing: border-box;
color: rgba(51, 51, 51, 0.8);
cursor: pointer;
display: block;
padding: 8px 10px;

}
.dropdown .selected-value input:disabled {
    background-color: rgba(51, 51, 51, 0.232);
    fill-opacity: .1;
    font-style: italic;
}
.dropdown .option.selected,
.dropdown .option:hover {
background-color: lightyellow;
color: #333;
}
